<div class="container">
  <form id="tweetas" method="post" action="/<%= @user.id %>/tweet">
    <input id="user_id" type="hidden" value='<%= @user.id %>' >
    <fieldset>

      <div class="row">
        <p>Tweet as @<%= @user.username %></p>
        <div class="small-10">
          <textarea name="message" rows="2" cols="70" placeholder="Message"></textarea>
        </div>

        </br>
        <div class="small-1">
          <input type="submit" class='button' value="Tweet">
        </div>
      </div>

    </fieldset>
  </form>
</div>

<div id="confirmation" class="container">
</div>
