<div class="container">
  <h1>Tweet Now! 2: Multi-User</h1>

  <% if @user %>
  <div>
      <p>
        <button><a href="/sign_out">Sign Out</a></button>
      </p>
    </div>
    <%= erb :_tweet %>

  <% else %>
    <button><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>
