<div class="container">
  <h1>Tweet as Esme</h1>

  <div id="esme">
    <img src="/images/esme.jpg"></img>
  </div>

  <% if @user %>
    <p>
      <button><a href="/sign_out">Sign Out</a></button>
    </p>
    <%= erb :_tweet %>

  <% else %>
    <div class="credentials"
    <p>
      Twitter Username: <b>@mycatesme</b></br>
      Twitter Password: <b>mycatesme1</b></br>
    </p>
  </div>
    <button><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>
